<!DOCTYPE html>
<html lang="en">

<head>
	<meta en="us">
	<link href="static/styles.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<title>Contact Tracing</title>
</head>

<body>
	<header>
		<h1> Welcome!</h1>
	</header>
	<main>
		<p>This is a website for contact tracing. It is a work in progress.</p>
		<p>You will find a link to the questions <a href = "/question">here</a></p>
	</main>
	<footer>
		By Elton Z.
	</footer>
</body>

</html>
