<!DOCTYPE html>
<html lang="en">

<head>
	<meta en="us">
	<link href="static/styles.css" rel="stylesheet" type="text/css" />
	<script src="scripts.js/main.js">
  </script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<title>Contact Tracing</title>
</head>

<body>
	<header>
		<h1>Questions</h1>
	</header>
	<main>
		<p>Answer the questions below:</p>
		<p>To go back, click <a href="/">here</a></p>
	</main>
	<footer>
		By Elton Z.
	</footer>
</body>

</html>
